{{ define "main" }}

    <main class="posts">
        {{- if .Params.toc }}
        <hr />
        <aside id="toc">
            <div class="toc-title">{{ i18n "tableOfContents" }}</div>
            {{ .TableOfContents }}
        </aside>
        <hr />
        {{- end }}

        <h1>{{ .Title }}</h1>

        {{ if .Content }}
          <div class="post-content">{{ .Content }}</div>
        {{ end }}

        {{ if .Pages }}
          <hr/>
          Sections
          <div id="page-tree" style="background: transparent;">
            {{- partial "list-nested.html" . -}}
          </div>
        {{ end }}
        <hr/>

        {{ partial "section-page-nav" . }}

    </main>
{{ end }}
