{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />

              <h1>{{ .Site.Title }}</h1>

              {{ partial "subtitle.html" . }}

            {{ else if .Site.Params.Banner }}
              <div class="cycle-slideshow post" data-cycle-slides="> a" data-cycle-pause-on-hover="true" data-cycle-log="false">
                {{ range .Site.Params.Banner }}
                  <a href="{{ .url | safeURL }}" {{- with .timeout -}}data-cycle-timeout="{{ . }}"{{- end -}}><img class="{{ .cls }}" src="{{ .src }}"></a>
                {{ end }}
              </div>
            {{ end }}

            <div id="home" class="post">
              {{ with .Site.Params.home }}
                {{ . | readFile | markdownify | safeHTML }}
              {{ else }}
                {{ .Content }}
              {{ end }}
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
